<a href="https://colab.research.google.com/github/darkclouds08/DSA-in-C/blob/main/DSTT_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Karmuhilan K J

Reg. No.: 22-27-08

Subject: DSTT (Assignment-1)

In [48]:
N,A = int(input("Enter the number of elements: ")),list(map(int, input("Enter the list elements: ").split()))
print(*[A[i] * A[-1-i] for i in range(N)]) # * in the front prints list in normal format

Enter the number of elements: 3
Enter the list elements: 1 2 3
3 4 3

In [49]:
lst = sorted(set(map(int, input("Enter the list elements: ").split())))
print(lst[-2], lst[1])

Enter the list elements: 1 2 3 4 5 6
5 2

In [50]:
print(*[i for i in list(map(int, input("Enter the list elements: ").split())) if i%5 != 0])

Enter the list elements: 1 5 12 26 55 3 90 6
1 12 26 3 6

In [53]:
io = input("Enter the numbers: ")
print('Yes') if io.count('1') in [1, len(io)-1] else print("No")

Enter the numbers: 1100
No

In [59]:
def factorial(n):
    return 1 if n == 1 else n * factorial(n - 1)
print(factorial(int(input("Enter the number: "))))

Enter the number: 4
24

In [57]:
m,n = map(int, input("Enter m and n: ").split())
print(str([k for k in range(m,n+1) if all(map(lambda x: int(x)%2 == 0, str(k)))])[1:-1])

Enter m and n: 25 250
26, 28, 40, 42, 44, 46, 48, 60, 62, 64, 66, 68, 80, 82, 84, 86, 88, 200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248